/* base styles */
* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
/* Nav Bar*/
.Nav-bar {
  background-color: #BE185D;
  padding: 20px;
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin:auto;
  border-bottom: 1px solid #f2f2f2;
  border-radius: 0 0 16px 16px;
}
.Nav-bar h2{
  color: white;
}
.Nav-bar .links{
  margin-left: auto;
}
.Nav-bar a {
  color:white;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.Nav-bar b{
  color: white;
}
/*Home*/
.Home {
  display:flex;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
  margin:auto;
  padding:20px;
}
.Home .info h3{
  text-align: center;
  color: rgb(104, 100, 100);
  font-size: 32px;
  font-weight:bolder;
  margin: 30px 0 0 0;
}
.Home .info-1 {
  text-align: center;
  font-size: 32px;
  font-weight:bolder;
  margin: 6px;
}
.Home .info-2 {
  text-align: center;
  color:#BE185D;
  font-size: 32px;
  font-weight:bolder;
  margin: 6px;
}
.about {
  margin: 40px -20px 0 -20px;
  background-color: #FCE7F3;
}
.about h2{
  text-align: center;
  margin: 40px;
}
.about article {
  margin: 20px;
  margin-top: -20px;
  margin-bottom: 40px;
  padding: 10px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
}
.technologies {
  margin: 40px -20px 0 -20px;
  background-color: white;
}
.technologies h2{
  text-align: center;
  margin: 30px;
}
.technologies article {
  margin: 20px;
  margin-top: -20px;
  padding: 10px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
}
.project-intro {
  margin: 40px -20px 0 -20px;
  background-color: #FCE7F3;
}
.project-intro h2{
  text-align: center;
  margin: 30px;
}
.project-intro article {
  margin: 20px;
  margin-top: -20px;
  padding: 10px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
}
.project-intro .links {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: -10px 0 20px 0;
}

.project-intro .links a{
  color:white;
  font-size: 17px;
  padding: 10px;
  text-decoration: none;
  background-color: #BE185D;
  border-radius: 8px;
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: #BE185D;
  padding: 20px;
  justify-content: center;
  max-width: 600px;
  margin: auto;
  margin-top:40px;
  color: white;
  border-radius: 16px 16px 0 0;;
}
.footer .footer-header {
  text-align: center;
  font-size: 17px;
  font-weight: bolder;
  margin: 20px 0 0 0;
}
.footer .social-icon {
  justify-content: space-between;
  margin: auto;
  margin-top: 10px;
  width: 100%;
  max-width: 200px;
  padding: 10px;
  font-size: 2rem;
  color: white;
}
a.social {
  margin: 0 1rem;
}
a.github {
  color: white;
}
a.linkedin {
  color: black;
}
a.instagram {
  color: rgb(0, 204, 255);
}
/* projects */
.project {
  display:flex;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
  margin:auto;
  margin-top: 30px;
  padding:20px;
}
.project-title {
  display: flex;
  max-width: 500px;
  margin:auto;
  padding: 10px;
  background-color: white;
}
.project-container {
  margin: 20px;
}
.project .item-1{
  display: flex;
  font-size: 22px;
}
.project .number {
  margin-bottom: auto;
  margin: 5px 0 -5px 0;
  font-size: 20px;
}
.project .heading {
  color: rgb(66, 63, 63);
  font-weight: 800;
  margin-left: 6px;
}
.project .time1 {
  margin: 10px 0 10px 23px;
  font-size: 15px;
}
.project .about-app {
  margin: 10px 0 10px 23px;
  font-size: 17px;
  line-height: 1.5;
}
.project .sandgit-links {
  display: flex;
}
.project .sandbox-link {
  display: flex;
  padding: 10px;
  margin: 10px 10px 10px 12px;
}
.project .sandbox-link a{
  color:white;
  font-size: 17px;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  background-color: #BE185D;
  border-radius: 8px;
}
.project .github-link {
  display: flex;
  padding: 10px;
  margin: 10px 10px 10px -20px;
}
.project .github-link a{
  color:#BE185D;
  font-size: 17px;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid #BE185D
}










