@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.Nav-bar {
  background-color: #BE185D;
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin:auto;
  border-bottom: 1px solid #f2f2f2;
  border-radius: 0 0 16px 16px;
}
.Nav-bar h2{
  color: white;
}
.Nav-bar .links{
  margin-left: auto;
}
.Nav-bar a {
  color:white;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.Nav-bar b{
  color: white;
}
.projects {
  max-width: 600px;
  margin:auto;
  padding:20px;
}
.Home {
  max-width: 600px;
  margin:auto;
  padding:20px;
}
